<nav>
  <div class="logo">
    <img src="https://raw.githubusercontent.com/imrealanish/URL-Shortener/d5e57e32c6af1763fc406c68ea16ad317eb11c14/src/assets/logo.svg" alt="">
  </div>
  <div class="links">
    <!-- <ul>
      <li>Home</li>
      <li>About</li>
    </ul> -->
    <button class="btn">
      <a href="https://www.linkedin.com/in/anish-varma-a30011227/" target="_blank">Contact Me</a>
      </button>
  </div>
</nav>

<main>
  <div class="heading">
    <span class="typed-element"></span>
  </div>
  <form #urlForm="ngForm" (ngSubmit)="getUrlShorten(urlForm)">
    <div class="inputBox">
      <input type="url" name="url" placeholder="Enter your URL here...." ngModel>
      <button type="submit" class="">Shorten</button>
    </div>
  </form>
  <div class="urlClipboard" [class.animation]="!loading">
    <span [innerHTML]="urlText" *ngIf="urlText"></span>
    <!-- <span>https://tinyurl.com/24mrka25</span> -->
    <button (click)="copyText()" *ngIf="urlText">{{textCopied?"Text Copied!":"Copy URL"}}</button>
  </div>
  <span *ngIf="loading">Loading....</span>
</main>
